In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)
import seaborn
import itertools
import seaborn as sns
import matplotlib.pyplot as plt
from pycaret.classification import *
from pycaret.classification import evaluate_model
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
import selenium
from selenium import webdriver
import random
from selenium.webdriver.common.by import By
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime
pd.set_option('display.max_columns', 100)

In [3]:
def kelly(p, b, weight):
    stake = round((p * (b - 1) - (1 - p)) / (b - 1), 4) * weight
    return stake if stake > 0.0 else 'no value'

In [104]:
setup_df = pd.read_csv('f_eng_df.csv', index_col = [0])
setup_df = setup_df[setup_df['odds_sum'] > 1.03]
setup_df.shape

(358, 106)

In [131]:
setup_df.columns[-30:]

Index(['aerial_duels_won_percentage_diff', 'aerial_duels_won_percentage_sum',
       'successful_dribbles_diff', 'successful_dribbles_sum',
       'successful_dribbles_percentage_diff',
       'successful_dribbles_percentage_sum', 'score_diff', 'score_sum',
       'posession_diff', 'posession_sum', 'odds_sum', 'xg_penalty_diff',
       'xg_penalty_sum', 'odds_predict', 'std_0', 'std_1', 'std_2', 'med_0',
       'med_1', 'med_2', '75_0', '75_1', '75_2', 'med_odds_prob_0',
       'med_odds_prob_1', 'med_odds_prob_2', '75_odds_prob_0',
       '75_odds_prob_1', '75_odds_prob_2', 'target'],
      dtype='object')

In [143]:
grid = setup(data = setup_df, target='target', session_id = 233,
             remove_perfect_collinearity = False, feature_ratio = True)

In [146]:
pd.concat([get_config('X'), get_config('y')], axis = 1).to_csv('for_tf_df.csv')

In [148]:
best = compare_models()

LGBMClassifier(bagging_fraction=0.8, bagging_freq=0, boosting_type='gbdt',
               class_weight=None, colsample_bytree=1.0, feature_fraction=0.5,
               importance_type='split', learning_rate=0.001, max_depth=-1,
               min_child_samples=31, min_child_weight=0.001, min_split_gain=0,
               n_estimators=220, n_jobs=-1, num_leaves=100, objective=None,
               random_state=233, reg_alpha=0.15, reg_lambda=1e-07,
               silent='warn', subsample=1.0, subsample_for_bin=200000,
               subsample_freq=0)

In [153]:
xgb = create_model('xgboost')
tuned = tune_model(xgb, optimize = 'recall')

In [154]:
evaluate_model(tuned)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param

In [155]:
predicted_df = predict_model(best, raw_score = True)
# predicted_df = pd.concat([get_config('X_test').reset_index(drop = True), predicted_df], axis = 1)
# bo_po_dha = list(zip(predicted_df[['med_0','med_1','med_2']],predicted_df[['Score_0','Score_1','Score_2']],['draw','home','away']))
bo_po_dha = list(zip(predicted_df[['75_0','75_1','75_2']],predicted_df[['Score_0','Score_1','Score_2']],['draw','home','away']))
for book_odds, pred_odds, dha in bo_po_dha:
    predicted_df[dha] = predicted_df.apply(lambda x: kelly(x[pred_odds], x[book_odds], 0.25), axis=1)
df = predicted_df
dha = {'draw':'0','home':'1','away':'2'}
df = df.replace('no value', 0)
df[['draw','home','away']] = df[['draw','home','away']].astype(float)
for word, number in dha.items():
    df[f'{word}_profits'] = np.where(df['target'] == int(number),
                                    df[word] * (df['75_'+ number] - 1) * 100,
                                    -100*df[word])
df['profits'] = df[df.columns[-3:]].sum(axis = 1)
p = round(np.sum(df["profits"]), 3)
df = df.round(3)
df.to_csv(f'profits_{datetime.now():%Y%m%d}.csv')
print(f'number of bets made: {df.shape[0]}')
print(f'profit on $100 bankroll: ${p}')
print(df.sum()[-4:-1])

number of bets made: 108
profit on $100 bankroll: $-164.291
draw_profits   -99.444
home_profits     5.828
away_profits   -70.675
dtype: float64

In [157]:
df[['odds_sum','score_diff','target', 'Label','75_0', '75_1', '75_2', 'Score_0', 'Score_1', 'Score_2', 'draw', 'home',
       'away', 'draw_profits', 'home_profits', 'away_profits', 'profits']].head(20)

,odds_sum,score_diff,target,Label,75_0,75_1,75_2,Score_0,Score_1,Score_2,draw,home,away,draw_profits,home_profits,away_profits,profits
0,1.054,1.0,1,1,17.000,1.040,71.000,0.008,0.991,0.001,0.000,0.191,0.000,-0.000,0.763,-0.000,0.763
1,1.098,-1.0,2,2,3.550,6.500,1.600,0.047,0.000,0.953,0.000,0.000,0.219,-0.000,-0.000,13.128,13.128
2,1.073,0.0,0,1,4.962,1.250,17.000,0.016,0.982,0.001,0.000,0.228,0.000,0.000,-22.787,-0.000,-22.787
3,1.079,-1.0,2,2,4.300,11.250,1.356,0.024,0.000,0.975,0.000,0.000,0.227,-0.000,-0.000,8.056,8.056
4,1.081,0.0,1,1,2.550,3.477,2.700,0.030,0.693,0.278,0.000,0.142,0.000,-0.000,35.208,-0.000,35.208
5,1.076,1.0,0,1,3.500,1.700,5.500,0.031,0.885,0.085,0.000,0.180,0.000,0.000,-17.992,-0.000,-17.992
6,1.084,0.0,1,1,3.000,1.667,8.000,0.020,0.977,0.003,0.000,0.236,0.000,-0.000,15.712,-0.000,15.712
7,1.072,0.0,1,0,3.400,1.533,9.000,0.624,0.376,0.000,0.117,0.000,0.000,-11.665,0.000,-0.000,-11.665
8,1.075,-1.0,2,2,4.750,13.000,1.293,0.004,0.002,0.994,0.000,0.000,0.244,-0.000,-0.000,7.134,7.134
9,1.073,0.0,0,2,3.511,8.000,1.571,0.000,0.000,0.999,0.000,0.000,0.249,0.000,-0.000,-24.930,-24.930
10,1.064,-1.0,2,2,7.000,25.000,1.167,0.000,0.002,0.998,0.000,0.000,0.246,-0.000,-0.000,4.108,4.108
11,1.071,-1.0,2,2,5.000,15.000,1.278,0.180,0.044,0.776,0.000,0.000,0.000,-0.000,-0.000,0.000,0.000
12,1.089,-1.0,2,2,5.938,17.750,1.217,0.000,0.001,0.999,0.000,0.000,0.248,-0.000,-0.000,5.374,5.374
13,1.077,1.0,1,1,5.200,1.250,14.750,0.040,0.960,0.000,0.000,0.200,0.000,-0.000,4.988,-0.000,4.988
14,1.094,0.0,2,0,2.400,3.800,2.588,0.802,0.149,0.050,0.165,0.000,0.000,-16.505,-0.000,0.000,-16.505
15,1.084,-1.0,2,2,3.800,8.750,1.467,0.078,0.064,0.857,0.000,0.000,0.138,-0.000,-0.000,6.431,6.431
16,1.072,0.0,2,0,2.200,2.875,4.000,0.894,0.097,0.009,0.201,0.000,0.000,-20.147,-0.000,0.000,-20.147
17,1.083,1.0,1,1,4.750,1.286,13.000,0.073,0.892,0.034,0.000,0.129,0.000,-0.000,3.678,-0.000,3.678
18,1.049,1.0,1,1,19.500,1.030,74.750,0.002,0.998,0.000,0.000,0.230,0.000,-0.000,0.696,-0.000,0.696
19,1.077,-1.0,2,0,3.400,7.000,1.600,0.667,0.011,0.322,0.132,0.000,0.000,-13.202,-0.000,0.000,-13.202