In [ ]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)
import seaborn
import itertools
import seaborn as sns
import matplotlib.pyplot as plt
from pycaret.classification import *
from pycaret.classification import evaluate_model
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
import selenium
from selenium import webdriver
import random
from selenium.webdriver.common.by import By
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime

In [11]:
today = f"{datetime.now():%Y%m%d}"
df = pd.read_csv(f'data_{today}.csv', index_col = [0])

In [12]:
df

,Expected goals (xG),Total shots,Big chances,Big chances missed,Accurate passes,Accurate passes percentage,Fouls committed,Offsides,Corners,Shots off target,...,Successful dribbles percentage,score,posession,xG penalty,odds_checker_sum,0,1,2,odds_predict,final_score
0,0.89,7.0,1.0,0.0,77.0,0.06,-3.0,1.0,1.0,4.0,...,-0.31,0.0,20.0,NaN,1.091726,2.300000,2.387500,4.200000,0,0
1,-1.21,-5.0,-1.0,0.0,-54.0,-0.09,9.0,-1.0,-1.0,-1.0,...,-0.11,-1.0,-16.0,NaN,1.087449,4.750000,13.000000,1.250000,2,2
2,-0.74,-3.0,-1.0,0.0,-140.0,-0.11,-3.0,0.0,-1.0,0.0,...,-0.80,-2.0,-26.0,NaN,1.044048,20.000000,56.000000,1.024390,2,2
3,0.37,4.0,1.0,1.0,56.0,0.04,-1.0,-1.0,-1.0,3.0,...,0.04,-1.0,12.0,NaN,1.064560,3.500000,6.500000,1.600000,2,1
4,-2.94,-12.0,-3.0,0.0,-242.0,-0.33,-1.0,-1.0,-4.0,0.0,...,0.60,-4.0,-50.0,NaN,0.970938,226.000000,201.000000,1.040000,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240,0.10,0.0,0.0,0.0,31.0,0.00,1.0,0.0,-1.0,1.0,...,0.67,0.0,8.0,NaN,1.082870,2.500000,3.200000,2.700000,0,0
241,-0.24,-4.0,0.0,0.0,39.0,0.02,-2.0,0.0,-3.0,1.0,...,0.23,0.0,8.0,NaN,1.088785,2.150000,4.400000,2.522727,0,0
242,-0.68,-9.0,1.0,0.0,-76.0,-0.15,-2.0,0.0,-4.0,-3.0,...,0.18,0.0,-20.0,NaN,1.094355,2.647059,5.500000,1.870000,2,0
243,0.66,3.0,1.0,0.0,206.0,0.18,5.0,-1.0,1.0,2.0,...,0.61,0.0,42.0,0.78,1.080018,3.100000,1.533333,9.500000,1,0
244,-0.05,-1.0,0.0,0.0,-29.0,-0.02,0.0,2.0,-1.0,1.0,...,-0.11,0.0,-8.0,NaN,1.082756,2.525000,2.100000,4.750000,1,0

In [ ]:
grid = setup(data=df, target='final_score', session_id = 123, remove_multicollinearity = True,
             feature_selection = True, feature_selection_threshold = 0.6)

In [14]:
best = compare_models()

In [347]:
xgb = create_model('xgboost')

In [15]:
tuned = tune_model(best)

In [16]:
evaluate_model(tuned)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [19]:
predicted_df = predict_model(tuned, raw_score = True)
predicted_df = predicted_df[['0','1','2'] + list(predicted_df.columns[-5:])]
bo_po_dha = list(zip(predicted_df.columns[0:3],predicted_df.columns[-3:],['draw','home','away']))
for book_odds, pred_odds, dha in bo_po_dha:
    predicted_df[dha] = predicted_df.apply(lambda x: kelly(x[pred_odds], x[book_odds], 1), axis=1)
predicted_df.to_csv('pred_profits.csv')

In [20]:
predicted_df

,0,1,2,final_score,Label,Score_0,Score_1,Score_2,draw,home,away
0,2.300,3.100000,3.200,0,0,0.9714,0.0096,0.0190,0.9494,no value,no value
1,4.600,1.292857,13.000,1,1,0.0435,0.9560,0.0005,no value,0.8058,no value
2,3.800,1.400000,9.500,1,0,0.6683,0.3213,0.0104,0.5498,no value,no value
3,2.625,2.050000,5.125,1,1,0.2491,0.6171,0.1338,no value,0.2524,no value
4,2.500,4.550000,2.150,2,0,0.9835,0.0046,0.0119,0.9725,no value,no value
...,...,...,...,...,...,...,...,...,...,...,...
69,3.275,1.775000,4.500,2,1,0.3589,0.5916,0.0495,0.0771,0.0646,no value
70,5.900,1.166667,19.000,1,1,0.0469,0.9525,0.0006,no value,0.6675,no value
71,2.375,2.550000,3.800,0,0,0.8872,0.1040,0.0089,0.8052,no value,no value
72,3.100,3.400000,2.165,2,0,0.8109,0.1550,0.0341,0.7209,no value,no value
73,2.200,3.750000,2.700,0,0,0.6415,0.3097,0.0488,0.3428,0.0587,no value

In [18]:
def kelly(p, b, weight):
    stake = round((p * (b - 1) - (1 - p)) / (b - 1), 4) * weight
    return stake if stake > 0.0 else 'no value'